*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    width: 100%;
    height: 80vh;
    background: url(images/about-us-header@2x-min.jpg);
    background-position: center;
    background-size: cover;
}
.logo img{
    width: 100px;
}
.menu-icon{
    display: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
nav ul li a{
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    position: relative;
}
nav ul li a:hover{
    color: #ed31b8;
}
nav ul li a::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background: #ed31b8;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.text{
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.text h1{
    font-size: 6rem;
    color: #fff;
    position: relative;
    display: inline-block;
}
.text h1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #ed31b8;
    left: 0;
    bottom: -10px;
}
.text p{
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 0 10%;
    margin-top: 40px;
    text-align: center;
}
.about-box{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 7rem 10%;
    grid-gap: 4rem;
}
.about-1 .hero-1{
    width: 100%;
}
.about-1 h1{
    font-size: 30px;
    letter-spacing: 2px;
}
.about-1 p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
}
.about-1 h4{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ed31b8;
    text-transform: uppercase;
}
.hero-1 p{
    position: relative;
    color: #777;
    letter-spacing: 3px;
    font-size: 20px;
}
.hero-1 p:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #777;
    left: 0;
    bottom: -10px;
}
.apart{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 10%;
}
.apart-1, .apart-2{
    flex-basis: 50%;
}
.apart-2 img{
    width: 100%;
}
.apart-1 h1{
    font-size: 40px;
    width: 300px;
    letter-spacing: 2px;
    line-height: 50px;
    color:#333;
}
.apart-1 p{
    margin-top: 30px;
    width: 250px;
    font-size: 18px;
    letter-spacing: 2px;line-height: 30px;
}
.apart-1 h4{
    color: #ed31b8;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 10px;
}

.footer-box{
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 7rem 10%;
    width: 100%;
    background: #10093c;
    color: #fff;
}
.footer-left, .footer-right{
    flex-basis: 50%;
}
.footer-right img{
    width: 100%;
}
.footer-left{
    line-height: 40px;
}
.footer-left h2{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-left h5{
    font-size: 14px;
    letter-spacing: 1px;
}
.footer-left h4{
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.footer-left h4::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
}
.footer-line{
    display: flex;
    align-items: center;
}
.line-text li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}
.line-text li a{
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    right: 10px;
}
.slider-box{
    width: 100%;
}
.slider-box img{
    width: 100%;
}
.slider-box{
    position: relative;
}
.slider-text{
    position: absolute;
    padding: 60px 10%;
    width: 700px;
    color: #fff;
}
.slider-text h1{
    font-size: 40px;
    margin-top: 20px;
}
.slider-text h3{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.slider-text p{
    font-size: 17px;
    margin-top: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
@media(max-width:770px){
    nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        text-align: center;
        background: #10093c;
    }
    nav ul li{
        display: block;
        margin: 1rem;
        padding: 1rem;
    }
    nav ul li a{
        font-size: 30px;
        text-transform: capitalize;
        color: #fff;
    }
    .menu-icon{
        display: flex;
        color: #333;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }
    .active{
        margin-top: -100vh;
    }
    .text h1{
        font-size: 60px;
    }
    .apart-1, .apart-2{
        flex-basis: 100%;
    }
    .apart-2 img{
        margin-top: 20px;
    }
    .footer-left, .footer-right{
        flex-basis: 100%;
    }
}