*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    width: 100%;
    height: 70vh;
    background-image:url(images/park.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo img{
    width: 100px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    position: fixed;
    right: 0;
    z-index: 1000;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}
nav ul li a{
    font-size: 15px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
nav ul li a:hover{
    color: #ed31b8;
}
nav ul li a::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background: #ed31b8;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.menu-icon{
    display: none;
}
.text{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text h1{
    color: #fff;
    font-size: 6rem;;
    position: relative;
}
.text h1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #ed31b8;
    left: 0;
    bottom: -10px;
}

.about{
    text-align: center;
}
.about h1{
    font-size: 50px;
    color: #777;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 40px;
}
.about p{
    font-weight: 15px;
    padding: 0 20px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 35px;
    color: #777;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 20px;
}


.footer-box{
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 7rem 10%;
    width: 100%;
    background: #10093c;
    color: #fff;
}
.footer-left, .footer-right{
    flex-basis: 50%;
}
.footer-right img{
    width: 100%;
}
.footer-left{
    line-height: 40px;
}
.footer-left h2{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-left h5{
    font-size: 14px;
    letter-spacing: 1px;
}
.footer-left h4{
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.footer-left h4::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
}
.footer-line{
    display: flex;
    align-items: center;
}
.line-text li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}
.line-text li a{
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    right: 10px;
}


@media(max-width:770px){
    .menu-icon{
        display: block;
        color: #333;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
    }
    nav ul{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        text-align: center;
        background: #192329;
    }
    nav ul li{
        display: block;
        margin: 1rem;
        padding: 1rem;
    }
    nav ul li a{
        font-size: 30px;
        text-transform: capitalize;
        color: #fff;
    }
    .active{
        margin-top: -100vh;
    }
    .about h1{
        font-size: 30px;
    }
    .footer-left, .footer-right{
        flex-basis: 100%;
    }
    .footer-right{
        margin-top: 20px;
    }
    .text h1{
        font-size: 70px;
    }
}