*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    width: 100%;
    height: 80vh;
    background-image: url(images/home-header@2x-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo img{
    width: 100px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    padding: 20px 10%;
    position: fixed;
    right: 0;
    z-index: 1000;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}
nav ul li a{
    font-size: 15px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
nav ul li a:hover{
    color: #ed31b8;
}
nav ul li a::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background: #ed31b8;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.menu-icon{
    display: none;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h1{
    font-size: 60px;
    color: #fff;
    letter-spacing: 2px;
}
.text h4{
    font-size: 25px;
    color: #fff;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}
.text h4::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 2px;
    background: #ed31b8;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -7rem;
}
.text h4::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 2px;
    background: #ed31b8;
    top: 50%;
    transform: translateY(-50%);
    margin-left:25px;
}
.about{
    width: 100%;
    text-align: center;
    padding: 40px 10%;
}
.about h3{
    font-size: 20px;
    text-transform: uppercase;
    color: #ed31b8;
}
.about h1{
    font-size: 40px;
    margin-top: 20px;
}
.about-text p{
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 30px;
    text-align: center;
    line-height: 30px;
    color: #777;
}
.about-text h4{
    position: relative;
    display: inline-block;
    margin-top: 30px;
}
.about-text h4::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background: #ed31b8;
    top: 50%;
    left: 120px;
}
.park{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 10%;
}
.park-1, .park-2{
    flex-basis: 50%;
}
.park-2 img{
    width: 100%;
}
.park-1 h1{
    font-size: 50px;
}
.park-1 p{
    font-size: 15px;
    color: #777;
    line-height: 30px;
}

.footer-box{
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 7rem 10%;
    width: 100%;
    background: #10093c;
    color: #fff;
}
.footer-left, .footer-right{
    flex-basis: 50%;
}
.footer-right img{
    width: 100%;
}
.footer-left{
    line-height: 40px;
}
.footer-left h2{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-left h5{
    font-size: 14px;
    letter-spacing: 1px;
}
.footer-left h4{
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.footer-left h4::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
}
.footer-line{
    display: flex;
    align-items: center;
}
.line-text li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}
.line-text li a{
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    right: 10px;
}
.slider-box{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.slider-img img{
    width: 100%;
}
.slider-text{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width:500px;
    color: #fff;
}

.slider-text h1{
    font-size: 60px;
}
.slider-text p{
    font-size: 20px;
    margin-top: 30px;
    margin-right: 25%;
}
.slider-text h3{
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 30px;
}
.slider-text h3::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    border-radius: 50%;
}

@media(max-width:770px){
    nav ul{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        text-align: center;
        background: #10093c;
    }
    nav ul li{
        display: block;
        margin: 1rem;
        padding: 1rem;
    }
    nav ul li a{
        text-transform: capitalize;
        font-size: 30px;
        color: #fff;
    }
    .menu-icon{
        display: flex;
        color: #333;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }
    .logo img{
        width: 200px;
    }
    .footer-left, .footer-right{
        flex-basis: 100%;
    }
    .footer-right{
        margin-top: 40px;
    }
    .navbar{
        transition: 0.5s;
    }
    .active{
        margin-top: -100vh;
    }
    .park-1, .park-2{
        flex-basis: 100%;
    }
    .footer-left, .footer-right{
        flex-basis: 100%;
    }
    .text h1{
        font-size: 30px;
    }
    .slider-text h1{
        font-size: 40px;
    }
    .slider-text p{
        font-size: 15px;
        width: 300px;
    }
    .slider-text h3{
        margin-top: 5px;
    }
    
}